/* navstyle.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  height: 100vh; /* كامل ارتفاع الصفحة */
  width: 220px;
  background-color: #ffa64d; /* برتقالي */
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.nav-button {
  display: block;
  background-color: white;
  color: #ff8c00;
  text-align: center;
  padding: 12px;
  margin-bottom: 15px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-button:hover {
  background-color: #ffe0b3;
  color: #cc7000;
}
